@import "../../../App/Layout/styles";
@primary-color: #43b02a;
@primary-color-dark: #025c02;

.container {
  background-color: white;
}

.background {
  background-image: url("./tessellation.png");
  min-height: @min-height;
  background-repeat: repeat;
}
